<div class="hero-unit">
  <center>
  <div>
    <h1>
      Social Tv
    </h1>
    <h3>
      Stop messing around with clicks and search, transform your screen in a
      tv
    </h3>
      <br>
      <br>
    <p>
      <strong>
        What's that?
      </strong>
      Never wanted to just watch your recent youtube videos? Just log in with
      Youtube or Facebook and relax
      <br>
      <strong>
        Where do the videos come from?&nbsp;
      </strong>
      Your Facebook timeline and/or the youtube channel you subscribed to
    </p>
  </div>
  <h4>Sign up now!</h3>
  <a class="btn btn-danger btn-large" href="auth/youtube">
    <div>
      Youtube
    </div>
  </a>
  <a class="btn btn-primary btn-large" href="auth/facebook">
    Facebook
  </a>
  <div>
    <p>
      <br>
      <strong>
        Already a member?&nbsp;
      </strong>
      Just sign in above!
    </p>
  </div>
</div>
  <footer>
    <div class="footer">
        <p>
          Social Tv was created by Vittorio Banfi for his own amusement
          <a href="https://github.com/erlapso/SocialTv" target="blank">Github</a>
        </p>
    </div>
  </footer>
