<!DOCTYPE html>
<html>
<head>
  <title>Socialtv</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="off">
<script>
  setInterval(function() {
    window.location = "/";
    },400);
</script>
</body>
</html>
 
